version: '3'

services:
  grafana:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - GF_INSTALL_PLUGINS=grafana-athena-datasource
      - GRAFANA_REGION=ap-southeast-2
      - GRAFANA_ATHENA_CATALOG=AwsDataCatalog
      - GRAFANA_ATHENA_DATABASE=default
      - GRAFANA_ATHENA_WORKGROUP=primary
      - GRAFANA_ATHENA_OUTPUT_LOCATION=s3://athena-ap-southeast-2-536829251200/
    volumes:
      - ./credentials:/usr/share/grafana/.aws/credentials
